/* Footer */
.footer-title {
  font-size: $font-size-sm;
}

/* Lead */
h1.lead {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
  margin-bottom: $lead-margin-bottom;
  color: $gray;
}

/* Archive */
.archive-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin-top: 1rem;

    span {
      display: block;
    }
  }
}
