/* Header */
#header {

  @include media-breakpoint-up(lg) {
    margin-top: $layout-horizontal-spacing-large;
  }

  .navbar {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar-brand {
    margin-right: 0px;
  }

  .navbar-toggler-right {
   right: 0px;
  }

}

/* Main Content */
#content {

  margin-top: $layout-horizontal-spacing-small;

  @include media-breakpoint-up(lg) {
    margin-top: $layout-horizontal-spacing-large;
  }

}

#lead-content {

  @include media-breakpoint-up(lg) {
    margin-top: $layout-horizontal-spacing-large;
  }

}

/* Footer */
#footer {

  margin-top: $layout-horizontal-spacing-small;

  @include media-breakpoint-up(lg) {
    margin-top: $layout-horizontal-spacing-large;
  }

}

